
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 80%;
  padding: 20px;
  height:400px;
  background-image:url("C:/Users/daniel/Desktop/Evidencia web2/Bicicleta Tour/Imagenes/bi.jpg");
margin-left: 100px;
position: relative;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 8px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
.leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
.topnav a {
    float: none;
    width: 80%;
  }
}
