body{
    display: block;
   background-position: center center;   
  background-attachment: fixed;
  background-size: cover;
   background-image:url("C:/Users/daniel/Desktop/Evidencia web2/Bicicleta Tour/Imagenes/tour.png");
}
p{
  justify-content:20px; 
  font-size: 21px;
  width:800px;

  
}
h1{
  background-color:#F8F8F8 ;
  font-size: 18px;
  line-height: 18px;
}
section{
width: 870px; 
margin: auto;
background-color: solid;
shape-margin: 80px;
column-span: 80px;
}

footer{
background-color:rgb(0, 191, 255);
padding: 20px;
  text-align: center;
  margin-top: 20px;
}
.center{
justify-content: 18px;
}
.card {
background-color: white;
 padding: 20px;
 border-right: 20px;
 border-left:20px; 
 border-style: center;

}

.content: {
   width: 100px;
 float: left;
  display: block;
  text-align: center;
  padding:50px;
  text-decoration: none;
}
.imagemont{
  width: 800px;
  background-image:url("C:/Users/daniel/Desktop/Evidencia web2/Bicicleta Tour/Imagenes/tour.png");
  height: 400px;
  background-position: center center;   
  background-size:cover;
}
.ima{
  width:800px;
  background-image:url("C:/Users/daniel/Desktop/Evidencia web2/Bicicleta Tour/Imagenes/Mapa.png");
  height: 450px;
  background-position: center center;   
  background-size:cover;
}
